.search{
  width: 50%;
  min-width: 400px;
  max-height: 45px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.container{
  display: flex;
  justify-content: center;
}

.input{
  align-self: stretch;
  margin-right: 5px;
  flex-grow: 2;
}

.button{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}


