// all taken from teambit/evangelist/button
.Button {
	border-radius: 5px;
	height: var(--primary-button-height, 46px);
	font-size: inherit;
	font-family: inherit;

	text-align: center;
	transition: 300ms all;

	outline: none;
	
	&:disabled {
		filter: saturate(0.38);
		cursor: auto;
    }
    
    &.primary{
        border: 1px solid var(--bg-topping);
        background-color: var(--bg-topping);
        color: var(--primary-button-text, var(--base-color));

        &:hover:not(:disabled) {
            border: 1px solid var(--bg-topping-highlight);
            background-color: var(--bg-topping-highlight);
            color: var(--base-highlight);
        }
    }

    &.cta{
		border: 1px solid var(--cta-color, var(--base-color, #6c5ce7));
		background-color: var(--cta-color, var(--base-color, #6c5ce7));
		color: var(--cta-button-text, white);

		&:hover:not(:disabled) {
			border: 1px solid var(--cta-highlight, var(--base-highlight, #5d4aec));
			background-color: var(--cta-highlight, var(--base-highlight, #5d4aec));
		}
	}

}