.container {
    box-shadow: 5px 5px 5px 4px'#cdcdcd';
    margin-bottom: 30;
}

.title {
    font-size: 18; 
    font-weight: 'bold'; 
    margin-bottom: 10;
}
.button {
    background-color: '#010101';
    margin-left: 5px;
    padding: 2px;
}

.card{
    width: 350px;
    height: 450px;
}