.container {
    box-shadow: 5px 5px 5px 4px'#cdcdcd';
    margin: 0 10 30 10;
    height: 100%;
    display: flex;
    align-content: stretch;
}

.contentContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.title {
    font-size: 18; 
    font-weight: 'bold'; 
    margin-bottom: 10;
}
.button {
    background-color: '#010101';
    margin-left: 5px;
    padding: 2px;
}

.card{
    width: 350px;
    height: 450px;
}